.benefits {
	&__container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 16px 24px;
	}

	&__item {
		padding: 36px 32px 24px;
		min-height: 120px;
		display: grid;
		grid-template-columns:  1fr;
		gap: 16px;
		background-color: var(--color-light);
		border-radius: var(--border-radius);

		&-text {
			line-height: 160%;
			font-size: 14px;
			font-weight: 300;
		}

		&-top {
			margin: 0 auto;
			width: 62px;
			height: 62px;
			align-self: center;

			& svg {
				height: 54px;
				width: 54px;
			}
		}
	}
}
