.contacts {
	&__container {
		padding: 48px 56px 71px;
		background-color: var(--color-light);
		border-radius: var(--border-radius);
		overflow: hidden;
		display: grid;
		grid-template-columns: auto 624px;
		gap: 0 80px;
	}

	&__image-container {
		background-color: var(--color-light);
		border-radius: var(--border-radius);
		overflow: hidden;
		height: calc(100% + 24px);
	}

	&__bottom-container {
		display: flex;
		flex-direction: column;
		gap: 48px;
		order: -1;
		max-width: 365px;
	}

	&__bottom-info-container {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__info {
		&-container {
			display: flex;
			flex-direction: column;
			gap: 13px;
		}

		&-heading {
			font-size: 20px;
			font-weight: 600;
			line-height: 14px;
		}

		&-text {
			font-size: 16px;
			font-weight: 300;
			line-height: 140%;

			&-grey {
				font-size: 14px;
				line-height: 140%;
				font-weight: normal;
				color: var(--color-grey-dark);
			}
		}

		&-item{
			border-bottom: 1px solid #D9D9D9;
			display: grid;
			grid-template-columns: auto 219px;
			padding-bottom: 25px;
		}
	}

	&__btn {
		padding: 24px 40px;
		max-width: fit-content;
	}
}
