.header {
	padding-top: 32px;
	padding-bottom: 56px;

	&__top {
		margin-bottom: 32px;
		display: grid;
		grid-template-columns: auto 1fr;

		&-right {
			display: flex;
			justify-content: flex-end;
			gap: 24px;
		}

		&-btns-container {
			display: flex;
			align-items: center;
			gap: 24px;
		}
	}

	&__bottom {
		padding: 8px 30px;
		border-radius: 15px;
		background-color: var(--color-light);
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 66px;
		gap: 8px;

		&-btns {
			display: flex;
			gap: 16px;
		}
	}
}

.phone-number {
	white-space: nowrap;
	font-size: 18px;
	line-height: 100%;
	font-weight: 500;
	color: var(--color-tertiary);

	&-icon,
	.burger-menu-btn {
		display: none;
	}

	&-icon svg {
		fill: var(--color-secondary);
	}
}

.menu {
	&__container {
		display: flex;
		gap: 24px;
	}

	&__link {
		color: var(--color-dark);
		font-size: 16px;
		font-weight: normal;
		transition: color 0.3s ease-in-out;

		&:hover,
		&:focus {
			color: var(--color-secondary);
		}

		&:active {
			color: var(--color-tertiary);
		}
	}
}
