.logo {
	display: flex;
	justify-content: flex-end;
	background-color: var(--color-primary);
	border-radius: 15px;
	max-width: 270px;
	padding: 4px 14px 4px 28px;

	&__image {
		&-container {
			width: 73px;
			height: 59px;
			margin: auto 0;
		}
	}

	&__text {
		display: inline-block;
		font-size: 36px;
		font-weight: 600;
		color: var(--color-light);
		line-height: 100%;

		&-container {
			padding: 4px 0;
			position: relative;
			padding-right: 22px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 6px;
			line-height: 120%;
		}
	}

	&__sub-text {
		position: absolute;
		bottom: 5px;
		font-size: 14px;
		color: var(--color-light);
		line-height: 90%;
		font-weight: normal;
	}
}
