.services__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.service-card {
	background-color: var(--color-light);
	border-radius: var(--border-radius);
	overflow: hidden;

	&__image {
		max-height: 162px;
	}

	&__bottom {
		padding: 48px 30px;
	}

	&__heading {
		font-weight: 500;
		font-size: 16px;
		line-height: 120%;
		color: inherit;
	}

	&__link {
		color: var(--color-secondary);
		fill: var(--color-secondary);
		margin-bottom: 8px;
	}

	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 120%;
		color: var(--color-dark);
	}

}
