.services__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.service-card {
	background-color: var(--color-light);
	border-radius: var(--border-radius);
	overflow: hidden;
}
.service-card__top {
	// overflow: hidden;
}
.service-card__image {
	// object-position: bottom;
	height: 164px;
}

.service-card__bottom {
	padding: 32px 64px 64px 28px;
}

.service-card__heading {
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: inherit;
}

.service-card__link {
	color: var(--color-secondary);
	fill: var(--color-secondary);
	margin-bottom: 10px;
}

.service-card__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	color: var(--color-dark);
}
