.special-offer-card {
	width: 100%;
	position: relative;
	padding: 40px 48px 56px;
	border-radius: var(--border-radius);
	background-color: var(--color-grey-medium);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
	overflow: hidden;
	min-height: 262px;

	&__info-container {
		z-index: 1;
	}

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background: var(--bg-gradient-1);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&__heading {
		margin-bottom: 16px;
		font-size: 36px;
		color: var(--color-light);
		font-weight: 600;
		max-width: 313px;
		line-height: 120%;
	}

	&__price {
		font-size: 18px;
		color: var(--color-grey-light);
		font-weight: normal;
		line-height: 120%;
	}

	&__link {
		font-size: 16px;
		z-index: 1;
	}

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


.special-offers {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;

	&__main {
		padding: 120px 56px 46px;
		gap: 55px;
		height: 100%;

		&-price {
			font-size: 26px;
			color: var(--color-grey-light);
			font-weight: normal;
			line-height: 120%;
		}

		&-heading {
			margin-bottom: 8px;
			font-size: 56px;
			color: var(--color-light);
			font-weight: 600;
			max-width: 336px;
			line-height: 120%;
		}
	}

	&__additional-container {
		order: -1;
	}
}

.special-offers__additional-container .special-offer-card:not(:last-child) {
	margin-bottom: 16px;
}

.about-us__text {
	line-height: 160%;
	font-size: 18px;
	max-width: 890px;
	font-weight: 300;
}
