<header class="header">
	<nav class="header__inner">

		<div class="header__top animate__animated animate__fadeInDown">
			<div class="header__top-left">
				<a href="/" class="logo" aria-label="главная страница сайта">
					<div class="logo__text-container">
						<div class="logo__text">Malivia</div>
						<div class="logo__sub-text">сеть отелей</div>
					</div>
					<div class="logo__image-container">
						<img class="logo__image" src="/assets/images/logo/logo.png" alt="Malivia">
					</div>
				</a>
			</div>
			<div class="header__top-right">

				<div class="header__top-btns-container">
					<a href="tel:+79990000000" class="phone-number link">+7 999 000 00-00</a>
					<a href="tel:+79990000000" class="phone-number-icon btn-link" aria-label="телефон компании">
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20.0001 6C12.2686 6 6 12.2686 6 20.0001C6 27.7315 12.2686 34.0002 20.0001 34.0002C27.7315 34.0002 34 27.7314 34 20.0001C34.0001 12.2686 27.7315 6 20.0001 6ZM27.393 26.4277L26.2721 27.5489C26.0719 27.7487 25.4859 27.8734 25.4671 27.8734C21.9209 27.9043 18.5064 26.5114 15.9977 24.0024C13.4821 21.4854 12.0875 18.0587 12.125 14.5005C12.125 14.4989 12.2533 13.9297 12.4533 13.7317L13.5742 12.6106C13.9843 12.1985 14.7723 12.0123 15.3242 12.1969L15.56 12.2756C16.1104 12.4601 16.6882 13.0686 16.8403 13.6292L17.4041 15.6987C17.5562 16.261 17.3511 17.0608 16.941 17.471L16.1926 18.2196C16.9274 20.94 19.0619 23.075 21.7828 23.8116L22.531 23.0628C22.9431 22.6507 23.7426 22.4458 24.3037 22.5977L26.3729 23.1635C26.9336 23.3176 27.542 23.8918 27.7264 24.442L27.8051 24.6812C27.9879 25.2316 27.8031 26.0193 27.393 26.4277Z"/>
						</svg>
					</a>
					<a aria-label="профиль" class="btn-link btn-link-icon" href="#"><span class="icon material-symbols-rounded">person</span></a>
				</div>

				<!-- <button class="burger-menu-btn"><span class="icon material-symbols-rounded">menu</span></button> -->

				<!-- <div class="hamburger-menu-wrapper"> -->
					<!-- <div class="hamburger-menu__items-wrapper">
						<ul class="hamburger-menu__items-container">
							<li class="hamburger-menu__item"><a class="hamburger-menu__items-link" href="#about-us">О нас</a></li>
							<li class="hamburger-menu__item"><a class="hamburger-menu__items-link" href="#services-section">Услуги</a></li>
							<li class="hamburger-menu__item"><a class="hamburger-menu__items-link" href="#benefits-section">Преимущества</a></li>
							<li class="hamburger-menu__item"><a class="hamburger-menu__items-link" href="#placing-section">Размещение</a></li>
							<li class="hamburger-menu__item"><a class="hamburger-menu__items-link" href="#contacts-section">Контакты</a></li>
						</ul>
					</div> -->
					<button aria-label="меню" class="hamburger-menu__btn-wrapper hamburger-menu__btn-open">
						<div class="hamburger-menu__btn">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</button>
				<!-- </div> -->
			</div>
		</div>
		<div class="header__bottom animate__animated animate__fadeInDown">

			<ul class="menu__container">
				<li class="menu__item"><a class="menu__link" href="#about-us">О нас</a></li>
				<li class="menu__item"><a class="menu__link" href="#services-section">Услуги</a></li>
				<li class="menu__item"><a class="menu__link" href="#benefits-sectionon">Преимущества</a></li>
				<li class="menu__item"><a class="menu__link" href="#placing-section">Размещение</a></li>
				<li class="menu__item"><a class="menu__link" href="#contacts-section">Контакты</a></li>
			</ul>

			<div class="header__bottom-btns">
				<a class="header__btn btn" href="#tour-section">Хочу тур</a>
				<a class="header__btn btn" href="#">Обратный звонок</a>
			</div>
		</div>

		<div class="hamburger-menu-wrapper">


			<div class="hamburger-menu__items-wrapper">
				<button aria-label="закрыть меню" class="hamburger-menu__btn-wrapper hamburger-menu__btn hamburger-menu__btn-close"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M22 23.9319L12.6995 33.2329C12.4456 33.4865 12.1265 33.6163 11.7421 33.6224C11.358 33.6282 11.033 33.4984 10.7672 33.2329C10.5017 32.967 10.3689 32.645 10.3689 32.2667C10.3689 31.8884 10.5017 31.5664 10.7672 31.3005L20.0681 22L10.7672 12.6995C10.5136 12.4456 10.3837 12.1265 10.3776 11.7421C10.3718 11.358 10.5017 11.033 10.7672 10.7672C11.033 10.5017 11.3551 10.3689 11.7334 10.3689C12.1116 10.3689 12.4337 10.5017 12.6995 10.7672L22 20.0681L31.3005 10.7672C31.5544 10.5136 31.8736 10.3837 32.258 10.3776C32.6421 10.3718 32.967 10.5017 33.2329 10.7672C33.4984 11.033 33.6311 11.3551 33.6311 11.7334C33.6311 12.1116 33.4984 12.4337 33.2329 12.6995L23.9319 22L33.2329 31.3005C33.4865 31.5544 33.6163 31.8736 33.6224 32.258C33.6282 32.6421 33.4984 32.967 33.2329 33.2329C32.967 33.4984 32.645 33.6311 32.2667 33.6311C31.8884 33.6311 31.5664 33.4984 31.3005 33.2329L22 23.9319Z" fill="white"/>
					</svg>
				</button>

				<ul class="hamburger-menu__items-container">
					<li class="hamburger-menu__item"><a class="hamburger-menu__items-link" href="#about-us">О нас</a></li>
					<li class="hamburger-menu__item"><a class="hamburger-menu__items-link" href="#services-section">Услуги</a></li>
					<li class="hamburger-menu__item"><a class="hamburger-menu__items-link" href="#benefits-section">Преимущества</a></li>
					<li class="hamburger-menu__item"><a class="hamburger-menu__items-link" href="#placing-section">Размещение</a></li>
					<li class="hamburger-menu__item"><a class="hamburger-menu__items-link" href="#contacts-section">Контакты</a></li>
				</ul>
			</div>
		</div>
	</nav>

</header>
