// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-size: 16px;
  --font-family: "Poppins", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  ---color-primary: #F0BF5F;
  ---color-secondary: #CC9933;
  ---color-tertiary: #A47312;
//   ---color-quaternary: #A47312;

  ---color-grey-light: #F1F1F1;
  ---color-grey-medium: #E9E9E9;
  ---color-grey-dark: #999999;
  ---color-grey-darkest: #666666;

  ---color-dark: #333333;
  ---color-light: #FFFFFF;
}
