// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/logo";
@import "./components/special-offers";
@import "./components/services";
@import "./components/benefits";
@import "./components/placing";
@import "./components/tour";
@import "./components/contacts";
@import "./components/footer";



// @media screen and (max-width: 329.97px) {
@media screen and (max-width: 526.97px) {
	:root {
		--container-offset: 16px;
	}

	.icon {
		font-size: 40px;
	}

	.btn {
		font-size: 14px;
	}

	.logo {
		padding: 6px 8px 7px;
		gap: 8px;
		// align-items: center;

		height: 40px;
		width: 125px;

		border-radius: 10px;

		&__image-container {
			max-width: 25px;
			max-height: 20px;
		}

		&__text {
			font-size: 16px;

			&-container {
				padding: 0;
				// padding-right: 8px;
			}
		}

		&__sub-text {
			// bottom: -3px;
			font-size: 10px;
			// transform: translateX(-2px);
			position: relative;

		}
	}


	.header-left {
		padding-right: 1rem;

	}

	.menu__container {
		display: none;
	}

	.header {
		padding-top: 16px;
		padding-bottom: 32px;
	}

	.header__top {
		margin-bottom: 16px;
		grid-template-columns: repeat(2, 1fr);

	}

	.header__btn {
		line-height: 120%;
		height: 43px;
	}
	.header__top-right {
		gap: 8px;
	}

	.header__top-btns-container {
		gap: 8px;
	}

	.header__bottom {
		padding: 5px 8px;
		max-height: 63px;
		gap: 8px;
	}

	.header__bottom-btns {
		// gap: 8px;
		justify-content: space-between;
	}

	.services__container {
		grid-template-columns: 1fr;
	}
	.service-card__image {
		max-height: 164px;
	}
	.phone-number {
		display: none;
	}

	.phone-number-icon {
		display: flex;
	}

	.service-card__top {
		max-height: 164px;
		overflow: hidden;
		// object-fit: fill;
	}

	.benefits__container {
		grid-template-columns: 1fr;
	}

	.placing__container {
		grid-template-columns: 1fr;
		gap: 8px;
	}


	.placing__card-bottom {
		padding: 16px 24px 15px;
	}

	.placing__card-info-top {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.placing__card-full-price {
		font-size: 14px;
		font-weight: 300;
		line-height: 120%;
		order: 0;
		min-height: 17px;
	}

	.placing__card-link {
		line-height: 120%;
		height: 47px;
	}

	.placing__card-info-bottom {
		margin-bottom: 16px;
	}

	.placing__card-more {
		padding: 8px 8px;
		// width: 100%;
		align-items: center;
		min-height: 95px;
	}

	.placing__card-more-link {
		font-size: 14px;
		// line-height: 14px;
	}

	.section-tour {
		padding: 16px;
	}

	.tour__container {
		padding: 24px;
		gap: 24px;
	}

	.contacts__container {
		padding: 24px;
		grid-template-columns: 1fr;
		gap: calc(24px + 8px);
	}

	.contacts__top-container {
		height: calc(100% + 8px);
	}

	.contacts__bottom-container {
		gap: 24px;
		order: 0;

	}

	.contacts__bottom-info-container {
		gap: 16px;
	}

	.contacts__info-item {
		padding-bottom: 16px;
	}

	.contacts__info-heading {
		font-size: 16px;
		line-height: 100%;

	}
	.contacts__info-text-grey {
		line-height: 100%;

	}

	.contacts__info-text {
		font-size: 14px;
		line-height: 120%;
	}

	.contacts__info-item {
		grid-template-columns: 1fr;
		gap: 8px;
	}

	.contacts__info-text-grey {
		// line-height: 120%;
		// max-width: 136px;
	}

	.contacts__info-container {
		gap: 6px;
	}

	.footer {
		padding: 24px;
		gap: 16px;
	}

	.footer__rights {
		font-size: 14px;
	}

	.footer__bottom {
		flex-direction: column;
		order: 0;
	}

	.footer__copyright-container {
		order: 0;
	}

	.footer {
		grid-template-columns: 1fr;
	}

	.footer__top {
		flex-direction: row;
	}

	.footer__bottom {
		gap: 16px;
	}

	.footer__info-container {
		flex-direction: column;
		gap: 16px;
	}

	.footer__rights {
		margin-bottom: 8px;
	}

	.footer__text-desc {
		font-size: 14px;
		margin-bottom: 14px;
	}

	.footer__top {
		flex-direction: row;
	}

	.main {
		margin-bottom: 32px;
	}

	.special-offers {
		grid-template-columns: 1fr;
		gap: 8px;
	}

	.special-offers__additional-container {
		order: 0;
	}

	.special-offers__additional-container .special-offer-card:not(:last-child) {
		margin-bottom: 8px;
	}

	.special-offer-card {
		min-height: 150px;
		padding: 24px 32px;

	}

	.special-offer-card__heading {
		margin-bottom: 8px;
		font-size: 18px;
		max-width: 162px;
	}

	.special-offer-card__price {
		font-size: 14px;
	}

	.special-offer-card__link {
		font-size: 14px;
	}

	.special-offers__main-price {
		font-size: 16px;
	}

	.special-offers__main-heading {
		font-size: 24px;
		max-width: 162px;
	}

	.special-offers__main {
		padding: 60px 32px 24px;
	}

	.section:not(:last-child) {
		margin-bottom: 24px;
	}

	h2 {
		font-size: 18px;
		margin-bottom: 8px;
	}

	.about-us__text {
		font-size: 14px;
		line-height: 158%;
		padding-bottom: 1px;
	}

	.service-card__text {
		font-size: 14px;
	}
	.service-card__link {
		margin-bottom: 10px;
	}
	.service-card__bottom {
		padding: 24px 16px;
		min-height: 145px;
	}

	.services__container {
		gap: 8px;
	}

	.benefits__container {
		gap: 8px;
	}

	.benefits__item {
		padding: 16px;
		min-height: 120px;
		grid-template-columns: minmax(32px, auto) 1fr;
		gap: 16px;
	}
	.benefits__item-text {
		line-height: 156%;
	}
	.benefits__item-top {
		height: 32px;
		width: 32px;
	}
	.benefits__item-top svg {
		height: 100%;
		width: 100%;
		// width: 32px;
	}

	.tour__btn {
		width: 100%;
	}

	.tour__input-number-container {
		gap: 8px;
		width: 100%;
		flex-direction: column;

	}

	.placing__card-top-image {
		height: 132px;
	}
	.placing__card-price {
		font-size: 14px;
	}

	.tour__container {
		flex-direction: column;
	}

	.tour__input-container {
		flex-direction: column;
	}

	.contacts__btn {
		max-width: 100%;
		font-size: 16px;
		padding: 27px 41px;
	}

	.footer__info-box {
		flex-direction: column;
		gap: 8px;
	}

	.footer__rules-link {
		font-size: 14px;
	}

	.hamburger-menu__btn-close {
		right: 16px;
		top: 16px;
	}
	.hamburger-menu__btn-wrapper {
		height: 40px;
		width: 40px;
		display: flex;
	}

}

// 768px-992px
@media (min-width: 527px) and (max-width: 991.96px) {
	:root {
		--container-offset: 32px;
		// --content-width: 640px;
	}


	.icon {
		font-size: 44px;
	}

	.header__top-right {
		gap: 8px;
	}

	.header__top-btns-container {
		gap: 16px;
		align-items: center;
	}

	.phone-number {
		font-size: 16px;
	}
	.logo {
		padding: 4px 8px;

		gap: 8px;

		// max-width: 173px;
		width: 157px;
		height: 43px;


		&__image-container {
			width: 46px;
			height: 35px;
		}

		&__text {
			font-size: 18px;


			&-container {
				padding: 0;
				gap: 0;
				// padding-right: 8px;
			}
		}

		&__sub-text {
			bottom: 0;
			font-size: 12px;
			// transform: translateX(0);
			position: relative;
		}
	}

	.hamburger-menu__btn-wrapper {
		display: flex;
	}

	.menu__container {
		display: none;
	}

	.header__top {
		margin-bottom: 24px;
	}

	.header__bottom {
		// justify-content: flex-start;
		padding: 8px 16px;
		min-height: 68px;
	}

	.header {
		padding-top: 24px;
		padding-bottom: 48px;
	}

	h2 {
		margin-bottom: 16px;
		font-size: 32px;
	}


	.special-offer-card {
		padding: 40px 48px 46px 48px;
	}
	.special-offers__main {
		gap: 115px;
		padding: 120px 24px 46px 56px;

	}

	.special-offers {
		grid-template-columns: 1fr;
		gap: 16px;
	}

	.special-offers__additional-container {
		order: 0;
	}

	.special-offers__additional-container .special-offer-card:not(:last-child) {
		margin-bottom: 16px;
	}

	.about-us__text {
		max-width: 476px;
	}

	.services__container {
		grid-template-columns: 1fr;

	}


	.benefits__container {
		grid-template-columns: repeat(2, 1fr);

	}

	.benefits__item {
		padding: 48px 28px 25px;
		min-height: 227px;
		gap: 0;
	}

	.placing__container {
		grid-template-columns: repeat(2, 1fr);
	}
	.placing__card-bottom {
		padding: 24px 32px;
	}
	.placing__card-info-bottom {
		margin-bottom: 21px;
	}

	.placing__card-info-top {
		flex-direction: column;

	}
	.placing__card-link {
		height: 45px;
	}
	.placing__card-full-price {
		order: 0;
	}

	.placing__card-more {
		grid-column: span 2;
		min-height: 0;
		height: 95px;
		align-items: center;
		justify-content: center;
	}

	.section:not(:last-child) {
		margin-bottom: 40px;
	}
	.contacts__container {
		grid-template-columns: 1fr;
		gap: 50px;
		padding: 40px;
	}
	.contacts__image-container {
		height: calc(100% + 18px);
	}
	.contacts__bottom-container {
		order: 0;
		max-width: none;
		gap: 32px;
	}
	.contacts__info-heading {
		// width: 182px;
	}
	.contacts__info-item {
		grid-template-columns: 175px auto;
		gap: 16px;
		padding-bottom: 24px;
	}
	.contacts__info-container {
		gap: 12px;
	}
	.contacts__links-container {
		display: flex;
		flex-direction: column;
		gap: 0px;
	}
	.contacts__btn {
		place-self: center;
		max-width: 240px;
		height: 70px;
	}

	.main {
		margin-bottom: 48px;
	}
	.section-tour {
		padding: 24px 32px;
	}
	.tour {
		&__container {
			padding: 26px 24px 31px;
			flex-direction: column;
			gap: 34px;
		}

		&__label {
			width: 100%;
			align-self: center;
		}

		&__btn {
			padding: 14px 82px;
			font-size: 14px;
			line-height: 100%;
		}
		&__input {
			// min-width: 60px;
			width: 100%;
		}
	}
	.tour__input-number-container {
		gap: 30px;
		width: 100%;
	}
	.tour__input-container{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		// align-items: center;
		gap: 22px 48px;
	}

	.footer {
		// grid-template-columns: 1fr auto;
		padding: 42px;
		gap: 16px;
	}

	.footer__bottom {
		flex-direction: column;
		gap: 56px;
	}

	.footer__copyright-container {
		order: 0;
		max-width: 308px;
	}

	.footer__rights {
		margin-bottom: 16px;
	}
	.footer__text-desc {
		margin-bottom: 16px;
	}


}


@media (min-width: 992px) and (max-width: 4000px) {
	.hamburger-menu__items-wrapper {
		display: none !important;
	}
}
